streamlit
openai
groq
python-dotenv
pysqlite3-binary
langchain_groq==0.1.2  # Or the latest known working version
langchain_openai==0.1.7
crewai==0.11.2
crewai_tools==0.1.6
langchain_community==0.0.29




